# Build output
dist/
.astro/
.temp/
.cache/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.production

# System
.DS_Store

# IDEs
.idea/
.vscode/